body{
	font-family: Arial;
}

#container{
	width: 80%;
	padding: 1em;
	border: 1px solid #DCDCDC;
	margin-left: auto;
	margin-right: auto;
}

.post{
	text-align: center;
	color: #303030;
}


#cabecera{
	background-color: #303030;
	color: #FFF;
	text-align: center;
	padding: 1em;
}

#footer{
	background-color: #212f35;
	color: #fff;
	padding: 2em;
	text-align: center;
}

#footer a:link{
	color: rgb(119, 131, 150);
  
#cabecera img{
	max-width: 120px;
}